* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    background: url(../img/textura-papel-azul-claro-foto-alta-resolucion_463999-904.jpg) no-repeat center center/ cover;
}

.nombre {
    background-color: rgb(63, 93, 228);
    border-radius: 10px;
    border: 2px solid rgb(70, 95, 207);
}

.cuadro{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 90%;
    border: 2px solid rgb(46, 46, 143);
    padding: 10px;
    align-items: center;
    background-color: rgb(191, 228, 243);
}

.titulo {
    width: 40%;
    background-color: rgb(243, 233, 96);
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(64, 91, 212);
}

.nuevaNota {
    display: flex;
    gap: 20px;
}

.btn {
    margin: 10px;
}

.text {
    height: 30px;
}

.contenedor {
    width: 90%;
    min-height: 500px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    background-color: rgb(170, 245, 255);
}
h1 {
    font-size: 30px;
    font-weight: bold;
}

input {
    width: 100%;
    height: 20px;
    font-size:14px;
    margin-top: 10px;
    padding: 10px;
    border: 4px solid #404040;
    border-radius: 10px;
}

textarea{
    width: 100%;
    height: 150px;
    font-size: 14px;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 4px solid #404040;
    border-radius: 10px;
 
}



